<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<p>Tags: <%= @post.tags.pluck(:name).join(', ') %></p>

<% if user_signed_in? %>
  <%= form_with(model: [@post, Comment.new], local: true) do |form| %>
    <div>
      <%= form.label :body %>
      <%= form.text_area :body %>
    </div>
    <div>
      <%= form.submit "Add Comment" %>
    </div>
  <% end %>
<% end %>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p><%= comment.body %> - <%= comment.user.name %></p>
  <% if comment.user == current_user %>
    <%= link_to 'Edit', edit_post_comment_path(@post, comment) %> |
    <%= link_to 'Destroy', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' } %>

  <% end %>
<% end %>
